<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>C64JS Commodore 64 Emulator</title>
  </head>
  <body>
    <div id="emulator"></div>
    <div>
      <button onclick="start('emulator')">Start</button>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
